/* Write your CSS here */
.main {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  height: 100vh;
  background-size: cover;
}
.icon {
  height: 40px;
  width: 30px;
}

.head {
  color: white;
}
.sub {
  display: flex;
  align-items: center;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ul {
  display: flex;
  flex-wrap: wrap;
}
